# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
tests/_envs/
tests/_output/
vendor/codeception/codeception/tests/data/claypit/tests/_output/
vendor/codeception/codeception/tests/data/included/_log/
vendor/codeception/codeception/tests/data/included/jazz/pianist/tests/_helpers/_generated/
vendor/codeception/codeception/tests/data/included/jazz/pianist/tests/_log/
vendor/codeception/codeception/tests/data/included/jazz/tests/_helpers/_generated/
vendor/codeception/codeception/tests/data/included/jazz/tests/_log/
vendor/codeception/codeception/tests/data/included/shire/tests/_helpers/_generated/
vendor/codeception/codeception/tests/data/included/shire/tests/_log/
vendor/codeception/codeception/tests/data/included_w/src/bar/Sub/EwokPack/tests/_support/_generated/
vendor/codeception/codeception/tests/data/included_w/src/bar/ToastPack/tests/_support/_generated/
vendor/codeception/codeception/tests/data/included_w/src/foo/AcmePack/tests/_log/
vendor/codeception/codeception/tests/data/included_w/src/foo/AcmePack/tests/_support/_generated/
vendor/codeception/codeception/tests/data/params/tests/_support/_generated/
vendor/guzzlehttp/guzzle/build/
vendor/guzzlehttp/guzzle/docs/
vendor/guzzlehttp/guzzle/tests/
